@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled):not([aria-disabled='true']),
  [role='button']:not(:disabled):not([aria-disabled='true']) {
    cursor: pointer;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
